mixin liArray(lisArray)
  each li in lisArray
    li=li

mixin liIArray(lisArray, icon)
  each li in lisArray
    li #[i(class=icon)] #{li}

mixin liLArray(lisArray)
  each li in lisArray
    li: a(href="#"+ li)=li

mixin liLIArray(lisArray)
  each li in lisArray
    li: a(href="#"+ li.link) #[i(class=li.icon)] #{li.name}

mixin socialLinks(socialLinks)
  ul.list-group.list-group-horizontal.social
    each link in socialLinks
      li.list-group-item
        a(href=link.url).social-link
          i(class=link.icon aria-hidden='true')

mixin specialHead(title)
  h2.text-center.special-head=title

mixin articleCard(title, text, img, moreLink)
  .article-card
    img(src=img, alt=title + "-image")
    .content
      h3=title
      p=text
    .more
      a(href=moreLink) Read More
      i(class="fas fa-long-arrow-alt-right")

mixin portfolio(portfolio)
  each work in portfolio
    .col
      .card
        .card-container
          .card-top 
            .works-viewer
              .work-shaffles
                .btn-group-vertical(role='group', aria-label='work-shaffles')
                  each screen in work.screens
                    -if (!screen.isAvailable) continue;
                    button.btn.btn-primary(class= "active" ? screen.isActive : false type=button): i(class=screen.icon aria-hidden='true')
              .works-in-all-devices
                img(src=work.imgs.desktop, alt)
                img(src=work.imgs.tablet, alt)
                img(src=work.imgs.mobile, alt)
            .technologies
              .technologies-container
                each technology in work.technologies
                  button(type=button): i(class=technology.icon aria-hidden='true')
          .card-body
            .card-info
              h5.card-title=work.title
              p.card-text
                i(class=work.desgister.icon aria-hidden='true')
                =work.desgister.title
            .card-actions
              each link in work.links
                a(href=link.url).action=link.title
                  i(class=link.icon aria-hidden='true')

mixin blogs(blogs)
  each blog in blogs
    .col
      .card
        img.card-img-top(src=blog.img, alt=blog.title + "-image")
        .card-body
          h5.card-title=blog.title
          p.card-text=blog.text
          p.card-text: small.text-muted=blog.date
        .card-footer.more
          a(href="#" + blog.moreLink) Read More
          i(class="fas fa-long-arrow-alt-right")

mixin rateStars(rateNumber = 0, starsNumber = 5)
  .rate
    - let index = 0;
    while index < starsNumber
      - let star = index < rateNumber ? "filled far fa-star" : "far fa-star";
      i(class=star)
      -index++;

mixin downCount(counterTitles = ["Day", "Hour", "Minute", "Second"])
  .time
    each title in counterTitles
      .unit
        .number 00
        .title=title

mixin plans(plans, currency, every, planIcon)
  .plans
    each plan in plans
      -
        let specialClass = plan.special.isSpecial ? "special-plan" : false,
        specialTitle = plan.special.isSpecial ? plan.special.title: false;
      .plan(class= specialClass)
        if plan.special.isSpecial
          .special-plan-title= specialTitle
        .plan-head
          h3=plan.head.title
          img(src=imgsPath + plan.head.img, alt="")
          span.price(data-currency=currency data-every=every)= plan.head.price
        ul.plan-features
            each feature in plan.features
              li(style= `--icon: ${planIcon};`)=feature
        .plan-footer: a(href=plan.footer.link)=plan.footer.title 
