mixin liArray(lisArray)
  each li in lisArray
    li=li

mixin liIArray(lisArray, icon)
  each li in lisArray
    li #[i(class=icon)] #{li}

mixin liLArray(lisArray)
  each li in lisArray
    li: a(href="#"+ li)=li

mixin liLIArray(lisArray)
  each li in lisArray
    li: a(href="#"+ li.link) #[i(class=li.icon)] #{li.name}

mixin specialHead(title)
  h2.special-head=title

mixin articleCard(title, text, img, moreLink)
  .article-card
    img(src=img, alt=title + "-image")
    .content
      h3=title
      p=text
    .more
      a(href=moreLink) Read More
      i(class="fas fa-long-arrow-alt-right")

mixin portfolio(portfolio)
  each work in portfolio
    .col
      .card
        .card-container
          .card-top 
            .works-viewer
              .work-shaffles
                .btn-group-vertical(role='group', aria-label='work-shaffles')
                  button.btn.btn-primary.active(type=button): i.fa.fa-desktop(aria-hidden='true')
                  button.btn.btn-light(type=button): i.fa.fa-tablet(aria-hidden='true')
                  button.btn.btn-light(type=button): i.fa.fa-mobile(aria-hidden='true')
              .works-in-all-devices
                img(src=img, alt=work.title + "-image")
                img(src=img, alt=work.title + "-image")
                img(src=img, alt=work.title + "-image")
            .technologies
              .technologies-container
              each technology in work.technologies
                button(type=button): i.fa.fa-html5(aria-hidden='true')
                button(type=button): i.fa.fa-css3(aria-hidden='true')
                button(type=button): i.fa.fa-js-square(aria-hidden='true')
          .card-body
            .card-info
              h5.card-title=work.title
              p.card-text
                i.fa.fa-palette(aria-hidden='true')
                =work.desgister
            .card-actions
              a(href="#").action=work.action[0].title
                i.fa.fa-github(aria-hidden='true')
              a(href="#").action=work.action[1].title
                i.fa.fa-eye(aria-hidden='true')

mixin blogCards(blogCards)
  each card in blogCards
    .col
      .card
        img.card-img-top(src=img, alt=card.title + "-image")
        .card-body
          h5.card-title=card.title
          p.card-text=card.text
          p.card-text: small.text-muted=card.date
        .card-footer.more
          a(href="#" + card.moreLink) Read More
          i(class="fas fa-long-arrow-alt-right")

mixin rateStars(rateNumber = 0, starsNumber = 5)
  .rate
    - let index = 0;
    while index < starsNumber
      - let star = index < rateNumber ? "filled far fa-star" : "far fa-star";
      i(class=star)
      -index++;

mixin downCount(counterTitles = ["Day", "Hour", "Minute", "Second"])
  .time
    each title in counterTitles
      .unit
        .number 00
        .title=title

mixin plans(plans, currency, every, planIcon)
  .plans
    each plan in plans
      -
        let specialClass = plan.special.isSpecial ? "special-plan" : false,
        specialTitle = plan.special.isSpecial ? plan.special.title: false;
      .plan(class= specialClass)
        if plan.special.isSpecial
          .special-plan-title= specialTitle
        .plan-head
          h3=plan.head.title
          img(src=imgsPath + plan.head.img, alt="")
          span.price(data-currency=currency data-every=every)= plan.head.price
        ul.plan-features
            each feature in plan.features
              li(style= `--icon: ${planIcon};`)=feature
        .plan-footer: a(href=plan.footer.link)=plan.footer.title 
