section.contact#contact
  +specialHead(siteLinks[4].title)
  .container
    .row.contact-box
      .col-md-6.info
        .info-head 
          h3=contact.title
          p=contact.description
        .contact-links 
          ul.list-group
            each link in contact.contactLinks
              li.list-group-item
                a(href=link.url) 
                  i(class=link.icon aria-hidden='true')
                  span=link.title
        .social-links
          +socialLinks(socialLinks)
      form(method='get').col-md-6.contact-form
        .form-group
          label(for='name') Your Name
          input.form-control-file-name(type='Text')
        .form-group
          label(for='email') Your Email
          input.form-control-file-email(type='email')
        .form-group
          label(for='phone') Your Phone
          input.form-control-file-phone(type='phone')
        .form-group
          label(for='massage') Tell me about all you needs
          textarea.form-control-massage(rows='3')
          button.btn.btn-light(type=submit)
            i.fa.fa-paper-plane(aria-hidden='true')
            span Send Message
