section.contact#contact
  +specialHead(siteLinks[4].name)
  .container
    .contact-box
      .info
        .info-head 
          h3=contact.title
          p=contact.description
        .info-bottom
          ul.links
            each link in contact.contactLinks
              li: a.contact-link(href=link.url) 
                i(class=link.icon aria-hidden='true')
                span=link.title
          .social-links
            +socialLinks(socialLinks)
      form(method='get').contact-form
        input.form-input.name(type='Text' placeholder='Your Name' style= `--icon-link: url(../images/user-icon.svg);`)
        input.form-input.email(type='email' placeholder='Your Email' style= `--icon-link: url(../images/envelope-icon.svg);`)
        input.form-input.phone(type='phone' placeholder='Your Phone' style= `--icon-link: url(../images/mobile-alt-icon.svg);`)
        textarea.form-input.message(placeholder='Tell me about all you needs')
        button.submit.btn.btn-light(type=submit)
          i.fa.fa-paper-plane(aria-hidden='true')
          |Send Message
